* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Garamond, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image:url('a380-A380-flying.webp');
    background-size:100%;
    background-repeat: no-repeat;
}

.container {
    background-color : rgb(43,31,0);
    color: rgb(255,225,138);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 21px;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: rgb(255,204,51);
    width: 100%;
    padding: 10px;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(255,0,0);
}

.hidden {
    display: none;
}

#status-result {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color : rgb(132,97,0);
}

#status-result p {
    font-size: 16px;
}
